<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Nutrition</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let meal of meals" (click)="selected.emit(meal)">
        <h3 matLine>{{meal.item}}</h3>
        <p matLine>{{meal.calories}}</p>
        
        <button mat-icon-button (click)="deleted.emit(meal); $event.stopImmediatePropagation()">
          <mat-icon *ngIf="!readonly">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
